lab2/__pycache__/action_translator.cpython-311.pyc
lab2/__pycache__/actions.cpython-311.pyc
lab2/__pycache__/actions.cpython-313.pyc
lab2/__pycache__/agent_direct.cpython-311.pyc
lab2/__pycache__/agent_improved.cpython-311.pyc
lab2/__pycache__/agent_new.cpython-311.pyc
lab2/__pycache__/agent_simple.cpython-311.pyc
lab2/__pycache__/agent.cpython-311.pyc
lab2/__pycache__/agent.cpython-313.pyc
lab2/__pycache__/board_analyzer.cpython-311.pyc
lab2/__pycache__/board_analyzer.cpython-313.pyc
lab2/__pycache__/fuzzy_logic.cpython-311.pyc
lab2/__pycache__/fuzzy_system.cpython-311.pyc
lab2/__pycache__/fuzzy_system.cpython-313.pyc
lab2/__pycache__/fuzzy_tetris_system.cpython-311.pyc
lab2/__pycache__/logger.cpython-311.pyc
lab2/__pycache__/logger.cpython-313.pyc
lab2/__pycache__/snake.cpython-311.pyc
